@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* @media screen and (min-width: 30em) and (max-width:80em) {
 
  .chat-container{
    
    background-color: rgb(227, 243, 227);
    
    
   
  }
  
  
} */
.messages-container{
  display: flex;
  justify-content: center;
  height: 95vh;
  /* width: 500px; */
  margin-bottom: 5rem;
  padding-left: 2rem;
  overflow-y:auto;
  border-left: none;
  padding-right:30px ;

}
.message{
  
  border-style: solid;
  border-color: rgb(207, 206, 206);
  /* box-shadow: 5px 10px #888888; */
  border-width: 1px;
  width: fit-content;
  max-width: 30rem;
  /* background-color: #ddecfb; */
  /* background-color:  #ddfbea; */
  /* background-color:  #f8ffdb;
  background-color:  #ffdbdb; */
  border-radius: 0.4em;
  text-align:start;
  font-size: medium;
  line-height: 1.5rem;
  font-weight: bold;
  word-wrap: break-word;
  word-break: break-word;
  /* min-width: 250px; */
  color:#141414;
  padding:0.6em;
  margin-bottom: 4rem;
  /* font-weight: bold; */
  box-shadow: 1px 1px 6px 2px rgba(177, 177, 177, 0.575);
  
}



h1{
  font-size: 40px;
}
.user-image{
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  align-items: center;
  justify-content:center;
  margin-top: 1.3rem;
  float: right;
  background-color: var(--blue-scheme);
  color: white;
  padding: 0.2rem;
  font-size: medium;
  text-align: center;
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */

}
.remain-messages-form-entry{
  font-size: x-large;
  font-weight: bold;
}

.blue{
 background-color: #0079f3;

}
.green{
background-color:  #00a000;
}
.green-bubble{
  background-color: #c7efc7;
}
.yellow{
  background-color:  #ffcc00;
}
.yellow-bubble{
 background-color: #faffba;
}
.red{
  background-color:  #e20202;
}
.currentUser{
  float: right;

}
.otherUser{
  float: left;
}

.content{
  display: flex;
  flex-direction: column;
  padding:10px;
  /* justify-content: center; */
}
.content-container{
  /* max-width: 95vw; */
  height:auto;
  /* background-color: #007af37a; */
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-self: center;

 
}
.chat-container{
  /* width: 70vw; */
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  align-content: center;
  
  
}

.seperator{
  border-bottom-style: dashed;
  border-color: rgb(170, 167, 167);
 
}
#save-recording-btn{
  margin-right: 1rem;
}

:root {
    --blue-scheme: rgb(0, 98, 255);
  }
  body{
    font-family: 'Rubik', sans-serif;
  }




  ::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c9c9c9c2; 
    
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #abcafc; 
  }
  
  .form-container {
    /* width: 44%; */
    /* min-width: 500px; */
    /* max-width: 50%; */
    /* margin: 0 auto; */
    margin-right: 5%;
    /* align-self: center; */
  }
  .audio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .audio-options{
    margin-bottom: 1rem;
  }

  .sound {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .auido-playing-identifier{
    font-size:medium;
  }
  
  header {
    margin-bottom: -10px;
  }

  input[type="radio"] {
    display: none;
  }
  
  span {
    border-style: solid;
    border-radius: 5em;
    border-color: var(--blue-scheme);
    background-color: white;
    border-width: 0.05em;
    padding: 0.6em;
    text-align: center;
    color: var(--blue-scheme);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
  }
  
  input[type="radio"]:checked + span {
    border-style: none;
    background-color: var(--blue-scheme);
    color: white;
    
  }
  
  input[type="radio"]:not(:checked) + span:hover {
    opacity: 70%;
    cursor: pointer;
  }
  .myThoughts-container{
    max-width: 700px;
  }
  
  .text-area {
    resize: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    min-width: 75%;
    max-width: 95%;
    width: 95%;
    border-radius: 3%;
    border: 2px solid #e6e3e3;
    color:#747474;
    font-size: larger;
    box-shadow: 1px 1px 6px 2px rgba(177, 177, 177, 0.274);
  }
  textarea:focus {
  
    box-shadow: 0 0 3px #efefef;
    outline-offset: 0px;
    outline: none;
    
  }
  .text-area {
    /* max-width: 370px; */
    max-width: 500px;
    
  }
  #about-field{
    resize: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #f8f8f882;
    border-radius: 3%;
    border: 2px solid #e6e3e3;
    width: 90%;
    font-size: medium;
    align-self: center;
    text-overflow: inherit;
    margin: 1rem;

  }
  .message-header{
    display: flex;
    justify-content: flex-start;
  
    
  }
  b,h4{
  
  margin-right: 1rem;
  font-size: larger;
  text-shadow: 0 0 black;
  }
  .time{
    display: flex;
    justify-items:baseline;
    justify-content: flex-end;
    margin-top: 0.7rem;
    /* margin-left: 10rem; */
    font-size: small;
    padding: 0.1rem;
    text-align: end;
  }
.postBtn-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.postBtn-container>h3{
  margin-left: 20px;
}
  #post-button{
    width:100px;
    text-align: center; 
    line-height: 0.2rem;
    border-style:none;
    border-radius: 0.5em;
    background-color:  var(--blue-scheme);
    border-width: 0.05em;
    padding: 1.5rem;
    color: white;
    cursor: pointer;
    font-size: x-large;
    margin-right: 15px;
  
  
  }
  #post-button:hover{
    box-shadow: 1px 1px 7px 3px #91c0ff;
    
  }

  .sub-text{
    font-size: larger;
    color: #5a5a5a;
   
  }

  .login-head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 15px;
    background:rgb(232, 240, 254);
    color: #616161;
  }


  #loginIcon{ 
    filter: invert(100%) saturate(0%);
    border: 3px solid black;
    background-color: #f53131f6;
    border-radius: 20px;
    padding:0.5rem 1rem 0.5rem 1rem;
    /* border-color: #b4b4b4; */
    margin-right: 0.5rem;
    width: 30px;

  }

  .login-form{
    /* padding:2rem; */
    display: flex;
    flex-direction: column;
  }

  .create-header, .invite-form-container{
    display: flex;
    flex-direction: column;
    /* justify-items: center;
    align-items: center; */
    /* width: 50%; */
    margin-top: 2rem;
    text-align: center;
    
  }
  .legend{
    font-size: large;
    font-weight: bold;
    padding: 0.5rem;
  }


  .fieldset, .login-container, .guest-form-container, .invite-form-container{
    border-width: 0.2em;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(183, 4, 4);
    box-shadow: 5px 5px 14px 8px rgb(192, 192, 192);
    
   
  }
  .login-container{
    padding: 1rem;
    margin-top: 5rem;
    align-self: center;
 
  }
  h6{
    margin: 0;
  }
  .fieldset{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width:95vw ;
    
  }
  .form-main{
    display: flex;
    flex-direction: column;
    /* padding:1.5rem; */
    align-items: center;
    margin-bottom: 3rem;
    /* width: fit-content; */

    
  }
  .input-create, .login-email-input, .invite-input{
    box-shadow: 1px 1px 3px 2px rgb(177 177 177 / 75%);
    padding:1rem;
    border-style: solid;
    border-color: white;
    border-radius:0.5em;
    margin-top: 0.5rem;
   font-size: larger;
   background-color: rgb(232, 240, 254);
  }
  .input-create:hover{
   opacity: 0.8;
  }
  .home-input{
    /* width:25rem; */
    text-align: center;
    margin:-0.5rem;
  }
  .login-email-input{
    margin-bottom: 1rem;
  }

 
  .primary-btn, .input-sound, .confirm-btn,.invite-btn{
    text-align: center; 
    line-height: 0.2rem;
    border-style:none;
    border-radius: 0.5em;
    background-color:  rgb(183, 4, 4);
    border-width: 0.05em;
    padding: 1.6rem;
    color: white;
    cursor: pointer;
    font-size: x-large;
    margin:0.5rem;
    margin-bottom: 15px;
    align-self: center;
  } 
  .about-venture-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
  }
  .about-venture-limit{
    margin-top: 0rem;
    padding-right: 1rem;
  }

  .primary-btn:hover, .input-sound:hover, .confirm-btn:hover,.invite-btn:hover{
    background-color:  rgba(199, 5, 5, 0.849);
  }

  .cancel-record-btn{
    text-align: center;
    padding: 0.4rem;
    margin-bottom: 1rem;
  }
  .record-label{
    font-weight: bold;
    padding: 0.5rem;
    align-self: center;
  }
 
  .guest-form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
  }

  .guest-form-container{
    align-self: center;
    margin-top: 3rem;
    padding: 2rem;
    margin-bottom: 3rem;
  }
  .guest-login-head{
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    
  }
 
    .invite-form-container{
      /* width:auto; */
      align-self: center;
      width: 95vw;
      margin-bottom: 3rem;
    }
  

  .invite-form-inputs-container{
    display: flex;
    flex-direction: column;
    /* padding: 2rem; */
   
    align-self: center;
   
  }
  .email-input-field{
    width: 95%;
  }
  .h2{
    line-height: 2rem;
  }
  
  .h6{
    font-size: larger;
    font-weight: bold;
    /* font-style: italic; */
    line-height: 2rem;
    word-break: break-word;
  }
  .invite-input{
    margin-top: 15px;
    margin-bottom: 15px;
    align-self: center;
  }
  .invite-head{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    text-align: center;
  }
 
.invite-sent-message{
 font-size: x-large;
 font-weight: bold;
 align-self: center;
 margin: 10px;
}

  .b-section{
    margin-top: 5%;
    min-width: 95%;
  
  }
  
  table{
    
    border: 1px solid rgb(223, 223, 223);
    border-radius: 20%;
    /* border-collapse: collapse; */
  
    width:100%;
    border-spacing: 0;
   
    
    border-radius: 16px;
    

  }
  td{
   
    border-top: 1px solid rgb(223, 223, 223);
  }
  td{
   
    padding-left: 10px;
    padding-right: 100px;
    
     
  }
 

  .landing{
    margin: 10px;
  
  }
  th:first-child{
  
    border-spacing: 0;
    
    text-decoration: none;
    border-top-left-radius: 16px;
  }
  th:last-child{
  
    border-spacing: 0;
   
    text-decoration: none;
    border-top-right-radius: 16px;
  }

th{
  background-color: rgba(223, 223, 223, 0.726);
  padding: 1rem;
  text-align: start;
  color: #707070;
  }
 h3{
    inline-size:100%; 
    overflow-wrap: break-word;
  }
  .chatroom-btn:hover{
    /* background-color: #e2e2e281; */
    color: #0f4fff;
    cursor: pointer;
  }
  .completed{
    background-color: rgb(208, 252, 226);
  border: none;
  font-size: small;
  color: rgb(10, 124, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  border-radius: 25px;
  padding: 0.5rem;
  width: 4rem;
  }
  .active{
    background-color: rgb(48, 25, 255);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: small;
  border-radius: 25px;
  font-weight: bold;
  width: 3rem;
  padding: 0.5rem;
  }

  .complete, .archive, .delete{
    cursor: pointer;
    padding:0.5rem
  }
  .spacer{
    width: 10px;
  }
  .delete{
    /* border-top: 2px solid rgb(228, 228, 228) ; */
    border-top: 2px solid rgb(228, 228, 228) ;
    margin-left: 0.3rem;
    padding-left: 0.3rem;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .mybrainstorms-header{
    font-size: small;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }  
  
  .title-wp{
 
    word-wrap: break-word;
    font-weight: bold;
    font-size: medium;
  }
  .title-wp:hover{
    color: #0f6bff;
  }
  .grid-status{
  padding-right:0.3rem;
  }
 

  .brainstorms-container{
    
     margin: 0.5rem;
    margin-bottom: 5rem;
    align-self: center;
    min-width: 70%;
    /* word-wrap: break-word; */
   
  }
  

.grey-text{
  color: #858585;
  font-weight: normal;
  padding-right: 1rem;
  font-size: medium;
}

  .action-container.status{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }
  .filler{
    visibility: hidden;
  }
  .hwrap{
    background-color: #f0efef;
    margin-bottom: auto;
    font-weight: bold;
    color: #646464;
    font-weight: bold;
  }
.wrapper{
  display: grid;
  grid-template-columns: 2.5fr 1.4fr 1.4fr 1.3fr 1.3fr ;
  grid-auto-rows: minmax(3rem, auto);
  /* border-right:1px solid  #dadada ; */
  font-weight: bold;
  font-size: large;
  align-items: center;
  word-break: break-word;
  margin-bottom: 1rem;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}

.pillar-wrapper{
  display: grid;
  grid-template-columns: 0.3fr 0.3fr  ;
  justify-items: start;
  align-items: center;
  
}

/* .wrapper:nth-child(n+2){
  align-items: center;
} */

.grid-status{

  align-content: center;
  text-align: center;

}


.row:last-child{
  margin-top: none;
 border-bottom: none;
}



.row-data{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-left: 0.5rem;

}
.toggleShow-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.table-container{
  display: flex;
  flex-direction: column;
  border: 1px solid #d6d6d6;
  border-radius:15px;
  box-shadow: 3px 3px 25px 10px rgba(226, 226, 226, 0.767);
 
}
label{
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  word-break: normal;
}

.row{

  border-bottom: 1px solid  #dadada;
}


.bs-loading{
  margin-top: 5rem;
  align-self: center;
}

.icon:hover{

/* border: 0.5px solid rgba(0, 0, 0, 0.329);
border-radius: 25px;
background-color: #70a9ff27; */
}
.icons-container{
  box-shadow: 1px 1px 5px 5px #adadad25;
  border: 1px solid rgba(0, 0, 0, 0.233);
  margin-bottom: 10px;
  margin-left: 0.5rem;
 
}
label>img{
  opacity: 0.4;
  padding:10px;
  width: 25px;
}


input[type="radio"]:checked + img {
  opacity: 1;
  border: 0px solid rgba(0, 0, 0, 0.329);

  background-color: #ffffffd0;
  border-image: round;
  border-radius: 30%;
  border-image-width: 20px;


}

input[type="radio"]:not(:checked) + img:hover {
  cursor: pointer;
  opacity: 1;
  border: 0px solid rgba(0, 0, 0, 0.178);

background-color: #fafafa27;
border-image: round;
border-radius: 30%;
border-image-width: 20px;

  
}

.icon{
    display: flex;
    align-items: center;
    
  }
  .icon:last-child{
    /* background-color: #0079f3; */
    padding-right: 5px;
    
  }
  /* .icons-container>img{
    
   padding:1px
  } */
 

.icons-container{
  display: flex;
  justify-content: space-evenly;
  background-color: #d3e3fd85;
  height: 50px;
  margin-top: 1rem;
  align-items: center;
  width: 350px;
  padding:7px;
  border-radius: 55px;
  position:fixed;
  bottom:0;
  top: 50;



}
.icon-left{
  margin-left:25px
}
.icon-right{
  margin-right:25px
}
.successSent{
  /* background-color: #b7ffb7a9; */
  opacity: 1;
  border-image: round;
border-radius: 40%;

animation-name: sent, bounce;
animation-duration: 2s, 2s;

}
.vTitle{
  font-size:2.2em;
  /* font-size: xx-large; */
  font-weight: bold;


}
.vSummary{
  font-size:1.2em;
  font-weight: bold;
}
.vSummary,.vTitle{
  word-break: break-word;
  word-wrap: break-word;
  margin: 1rem;
  width:80%
  
}
/* 
@media only screen and (min-width: 450px) {
  .brainstorms-container {
   
   width:75%;

  }
  .title-wp{
    font-size: larger;

  }
  .completed, .active, .mybrainstorms-header{
    font-size:medium;
  }
  .delete{
    border-left: 2px solid rgb(228, 228, 228)  ;
    
    border-top:none;
  }
  .completed, .active{
    width:80px;
    padding: 1rem;
    margin-left: 1rem;
  }
  .invite-form-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    text-align: center;
  }

} */


@media only screen and (min-width: 450px) {
  

  .grey-text{
    color: #858585;
    font-weight: normal;
    padding-right: 1rem;
    font-size: larger;

  }

  .icons-container{
    display: none;
  }
  /* .messages-wrapper{
   border-left: 3px solid rgb(207, 205, 205);
   min-height: 950px;
  } */
  
.message-header{
  display: flex;
  justify-content: flex-start;

}

.messages-container{
  border-left: 3px solid rgb(207, 205, 205);
  min-width:30rem ;
  height: 830px;
}
.message{
  
    border-style: solid;
    border-color: rgb(207, 206, 206);
    /* box-shadow: 5px 10px #888888; */
    border-width: 1px;
    width: fit-content;
    max-width: 30rem;
    line-height: 1.6rem;
    /* background-color: #ddecfb; */
    /* background-color:  #ddfbea; */
    /* background-color:  #f8ffdb;
    background-color:  #ffdbdb; */
    border-radius: 0.4em;
    text-align:start;
    font-size: larger;
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-word;
    min-width: 250px;
    color:#141414;
    padding:0.6em;
    margin-bottom: 4rem;
    /* font-weight: bold; */
    box-shadow: 1px 1px 6px 2px rgba(177, 177, 177, 0.575);
    
}

  .pillar-wrapper{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr ;
    justify-items: center;
    grid-auto-rows: minmax(1rem, auto);
    align-items: center;
  }

  .vTitle{
    font-size:3em;
    /* font-size: xx-large; */
    font-weight: bold;

  
  }
  .vSummary{
    font-size:1.5em;
    font-weight: bold;
  }

  .brainstorms-container {
   
    /* width:50vw; */
    align-self: center;
 
   }
   .title-wp{
     font-size: larger;
 
   }
   .completed, .active, .mybrainstorms-header{
     font-size:medium;
   }
   .delete{
     border-left: 2px solid rgb(228, 228, 228)  ;
     
     border-top:none;
   }
   .completed, .active{
     width:80px;
     padding: 1rem;
     margin-left: 1rem;
   }
   .invite-form-container{
 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 500px;
     text-align: center;
   }
   .time{

    margin-left: 10rem;
 
  }

}




@keyframes sent {
  0%{
    background-color: white;
  }
  100%{
    background-color: #b7ffb7c7;
    
  }
  
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-40px);} 
  60% {transform: translateY(-15px);} 
} 