:root{
    --primary: #efb6b2;
    --secondary: #4e4e4e;
    --error: #ff4a4a;
  }
  
.main-div-participantInfo{
    
       /* margin: 50%; */
       /* margin-right: 100%; */
       display: flex;
       justify-content: center;
       align-items: center;
}

audio{
  margin: 1rem;
}
audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: rgba(232, 240, 254, 0.664);
     color: #000;
     }
.cancel-recording-container{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}



.participant-image-div{
    display: block;
    /* width: 1.875rem;
    height: 1.875rem; */
    width: 2.5rem;
    height: 2.5rem;
    background-color: #4e4e4e;
    /* margin-left: 100%; */
    border: 1px solid var(--primary);
    border-radius: 50%;
    /* margin: 0.0001 rem auto; */
    line-height: 30px;
    color: var(--primary);
    text-align: center;
    font-size: 24px;
 
}

.label-letter-avatar{
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin:  0.98rem auto;
  line-height: 30px;
  color: var(--primary);
  background-color: var(--secondary);
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.image-div{
    margin-right: 9%;
    /* margin-left:50% */
}


.letter-avatar-div{
    /* align-content: center; */
    background-color: grey;
    color: azure;
    text-align: center;
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
}
.output{
    height: 60px;
    font-size: 0.8rem;
  }
  .error{
    color: var(--error);
  }

  .avatar-input{
    height: 0;
    width: 0;
    opacity: 0;
  }

  .user-name{
      font-size: medium;
      font-weight: bold;
      color: #2b2b2b;
      
    }

    .profile-icon{
      display: flex;
      width: 50px;
      /* border-style: solid;
      border-width:3px;
      border-color: rgb(81, 248, 123); */
      height: 2.5rem;
      border-radius:25px;
      justify-content:center;
      font-size: medium;
      margin-right: 0.5rem;
      float: left;
      /* background-color: var(--blue-scheme); */
      color: white;
      padding: 0.1rem;
      align-items: center;
      font-weight: bold;
      
    }
  @media only screen and (min-width: 450px) {
  .user-name{
 
    font-size: x-large;
    
  }
  .profile-icon{
    font-size: larger;
    
  }
   
  }
 