.App {
  
  display: flex;
  flex-direction: column;
  /* margin-right: 10rem; */
  padding: 2rem;
  align-items: center;
  min-width: fit-content;
 
  
}

.main-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-indent: 2rem;
  font-weight: bold;
  font-size: larger;
  font-style: italic;
  margin-right: auto;
  background-color: rgb(243, 243, 243);
  width: 100%;
  /* margin-bottom: 2rem; */
}

#logo{
  width: 80px;
 
}

