.App {
  margin:0;
  display: flex;
  flex-direction: column;
  /* margin-right: 10rem; */
  padding: 0;
  align-items: center;
  min-width: fit-content;
 
  
}
/* .logout-btn{
  color: black;
  background-color: none;
  border-style: none;
  font-size: large;
  font-style: italic;
  font-weight: 00;
  margin-left: 2rem;
} */

.main-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-indent: 2rem;
  font-weight: bold;
  font-size: larger;
  font-style: italic;
  margin:0;
  background-color: rgb(243, 243, 243);
  width: 100%;
  height: 6em;
  /* margin-bottom: 2rem; */
}

#logo{
  width: 6rem;
 
}

